body{
    background-color: #01BBFF;
}

#card{
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 40px;
    width: 70%;
    height: 70%;
    margin: 15%;
    text-align: center;
}

#inner-card{
    color: black;
    font-size: 20px;
    background-color: white;
    margin: 2% 1% 1% 1%;
}