@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  .fadeInText {
    /* Estilizando o texto dentro da box */
    color: #fff;
    text-align: center;
    align-content: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 110%;
    font-style: normal;
    animation: fadeIn 2s ease-out;
}

img {
    user-select: none; /* Para a maioria dos navegadores */
    -webkit-user-drag: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none; /* Para o Firefox */
    -webkit-user-select: none; /* Para o Safari */
    -ms-user-select: none; /* Para o Internet Explorer/Edge */
    pointer-events: none; /* Para impedir a interação com a imagem */
}


body {
  background-color: #131f24;
  user-select: none;
}
#prof {
  margin: 320px 0 0 100px;
}

.progress {
  display: flex;
  justify-content: center;
}

#progressbar {
  width: 800px;
  height: 20px;
  border: 3px solid #55646c;
  border-radius: 50px;
}

#bar {
  width: 12.5%;
  height: 20px;
  border-radius: 10px;
  background-color: #6d5f6d;
  transition: 50ms;
}
#pokebola {
  display: flex;
  position: absolute;
  justify-content: space-around;
  margin: -15px 0 0 150px;
}

#textVida {
    /* Estilizando o texto */
    color: #fff;
    align-content: center;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 15px;
}

.pokevida {
  width: 50px;
}

.none {
  display: none;
}

.logo {
  display: flex;
  justify-content: end;
}

.dialogBox {
  display: flex;
}

#box {
  /* Estilizando a caixa */
  position: absolute;
  width: 350px;
  height: 100px;
  border: 5px solid #55646c;
  background-color: #1d292e;
  border-radius: 15px;
  top: 400px;
  left: 12%;
}


.answerLines {
  display: flex;
  justify-content: center;
}

#line1 {
  position: absolute;
  top: 500px;
  width: 450px;
  border: 1px solid #55646c;
}

#line2 {
  position: absolute;
  top: 550px;
  width: 550px;
  border: 1px solid #55646c;
}

strong {
  color: #92c255;
}

.return {
  display: flex;
  justify-content: end;
  margin: 80px 20px 0 0;
}

#returnBox {
  position: absolute;
  width: 490px;
  height: 580px;
  background-color: #1d292e;
  border: 5px solid #3c4a51;
  border-top: none;
  border-radius: 40px 40px 15px 15px;
}
#returnHead {
  width: 490px;
  height: 60px;
  background-color: #807098;
  border-radius: 15px;

  /* Estilizando o texto */
  color: #fff;
  align-content: center;
  box-sizing: border-box;
  padding-left: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 150%;
  font-style: normal;
}

/* #returnHead:hover {
  cursor: pointer;
} */

#lineFooter {
  background-color: #37464f;
  width: 100%;
  height: 2px;
  margin-bottom: 16px;
}


.botoes {
  display: flex;
  margin-top: 30px;
}

#btnVerify {
    margin: 0 auto;
    background-color: #6d5f6d;
    border: 2px solid #665b66;
    border-bottom: 8px solid #5F555F;
    border-radius: 20px;
    width: 188px;
    height: 65px;

    /* Estilizando o texto */
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 150%;
    font-style: normal;
    align-content: center;
    text-align: center;
}

#btnVerify:hover {
    background-color: #7e727e;
    border-bottom: 8px solid #7e727e;
    padding-top: 5px;
    transition: 500ms;
    cursor: pointer;
}

#btnSkip {
    margin: 0 auto;
    border: 5px solid #55646C;
    border-bottom: 9px solid #48555B;
    border-radius: 20px;
    width: 188px;
    height: 65px;

    /* Estilizando o texto */
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 150%;
    font-style: normal;
    align-content: center;
    text-align: center;
}

#btnSkip:hover {
    background-color: #1d292e;
    border: 5px solid #1d292e;
    border-bottom: 9px solid #1d292e;
    border-radius: 20px;
    transition: 500ms;
    padding-top: 5px;

    cursor: pointer;
}

#btnTip {
  margin: 0 auto;
  width: 188px;
  height: 65px;
  border: 5px solid #131f24;

  /* Estilizando o texto */
  color: #55646C;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 150%;
  font-style: normal;
  align-content: center;
  text-align: center;
}

#btnTip:hover {
  background-color: #1d292e;
  border: 5px solid #1d292e;
  border-radius: 20px;
  transition: 500ms;
  cursor: pointer;
}

.alternativasDiv {
  display: flex;
  position: absolute;
  top: 60%;
  left: 36%;

}

.alternativa {
  /* Estilizando as alternativa */
  border: 5px solid #55646C;
  border-bottom: 9px solid #48555B;
  border-radius: 20px;
  width: 250px;
  height: 65px;

  /* Estilizando o texto */
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
  align-content: center;
  text-align: center;
}

#alternativa1 {
  margin: 0 20px 20px 0;
}

#alternativa3 {
  margin: 0 20px 20px 0;
}

#alternativa1:hover, #alternativa2:hover, #alternativa3:hover, #alternativa4:hover { background-color: #1d292e; transition: 100ms; cursor: pointer;}

.alternativa1Select {
  transition: 10ms;
  position: absolute;
  top: -180px;
  left: 135px;
}

.alternativa2Select {
  position: absolute;
  top: -180px;
  left: 140px;
}

.alternativa3Select {
  transition: 10ms;
  position: absolute;
  top: -180px;
  right: 120px;
}

.alternativa4Select {
  transition: 10ms;
  position: absolute;
  top: -180px;
  right: 165px;
}

#alternativa1Selected {
  width: 250px;
  height: 75px;
  border: 2px solid #55646C;
  border-radius: 20px;
  background-color: #37464F;
  margin: 0 26px 20px 0
}

#alternativa2Selected, #alternativa4Selected {
  /* Estilizando as alternativas */
  width: 250px;
  height: 75px;
  border: 2px solid #55646C;
  border-radius: 20px;
  background-color: #37464F;
}

#alternativa3Selected {
  /* Estilizando as alternativas */
  width: 250px;
  height: 75px;
  border: 2px solid #55646C;
  border-radius: 20px;
  background-color: #37464F;

  margin: 0 20px 20px 0;
}

#returnText {
  /* Estilizando o texto */
  color: #92c255;
  align-content: center;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 120%;
  font-style: normal;
}