@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  .fadeInText {
    /* Estilizando o texto dentro da box */
    animation: fadeIn 2s ease-out;
}

body {
    background-color: #131f24;
    color: #ffffff;
}

#prof {
    width: 13%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
}

#explicacao {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-family: monospace;
    font-weight: 400;
    font-size: 200%;
    font-style: normal;
    background-color: #000;
    border: #ffffff 3px solid;
    width: 1500px;
    height: 380px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

.bt {
    border: 5px solid #55646C;
    border-bottom: 9px solid #48555B;
    border-radius: 20px;
    width: 188px;
    height: 65px;

    /* Estilizando o texto */
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 150%;
    font-style: normal;
    align-content: center;
    text-align: center;
    user-select: none;
}

.bt:hover {
    background-color: #55646C;
    border: 5px solid #55646C;
    border-bottom: 9px solid #55646C;
    border-radius: 20px;
    transition: 500ms;
    padding-top: 5px;

    cursor: pointer;
}

.bt2 {
    background-color: #55646C;
    border: 2px solid #55646C;
    border-bottom: 8px solid #48555B;
    border-radius: 20px;
    width: 188px;
    height: 65px;

    /* Estilizando o texto */
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 150%;
    font-style: normal;
    align-content: center;
    text-align: center;
    user-select: none;
}

.bt2:hover {
    background-color: #48555B;
    border-bottom: 8px solid #48555B;
    padding-top: 5px;
    transition: 500ms;
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: auto;
    margin-top: 20px;
}

strong {
    color: #ffee00;
}

b {
    color: #92c255;
}

.invisivel {
    display: none;
}

input {
    /* Estilizando o texto */
    color: #fff;
    font-family: monospace;
    font-weight: 400;
    font-size: 100%;
    font-style: normal;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 5px solid #8095a0;
    border-bottom: #687881 9px solid;
    border-radius: 10px;
    width: 1700px;
    height: 65px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #8095a0;
    text-transform: lowercase;
}

.desabilitado {
    cursor: not-allowed;
    opacity: 0.5;
}