* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 26px;
}

.kanban {
  display: flex;
  justify-content: center;
  min-height: 400px;
  gap: 10px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: cadetblue;
  min-width: 200px;
  border-radius: 5px;
}

.item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.dragging {
  rotate: 2deg;
}
#getOrder {
  display: block;
  margin: 20px auto; /* Adds top and bottom margin of 20px, and auto margin for left and right to center the button */
  text-align: center;
  background-color: cadetblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
h1 {
  text-align: center;
  padding: 20px;
}
